.codemate * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buttonbox {
    width: 480px;
    display: flex;
    justify-content: space-between;
}

.buttonbox-left {
    margin: 0;
    width: 320px;
    height: 37px;
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttonbox-right {
    width: 160px;
}

.leftTab {
    flex-basis: 120px;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.codemate .buttonbox button {
    background-color: #a3a1a1;
    padding: 8px 10px;
    width: 120px;
    font-size: 14px;
    color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 0px solid rgb(255, 0, 0);
    float: left;
    position: relative;
}
.closeTab {
    width: 22px;
    opacity: 30%;
    position: absolute;
    right: 6px;
    top: 11px;
}

.codemate .buttonbox button:hover {
    background-color: #d9d9d9;
}

#append {
    flex-shrink: 0;
    width: 40px;
    padding: 8px 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#ai {
    width: 40px;
    padding: 8px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.codemate-content {
    width: 480px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.modal-body {
    display: flex;
    height: 550px;
}

.modal-chat {
    height: 100%;
    margin-left: 20px;
    border: 1px solid white;
    border-radius: 8px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.modal-chat-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.modal-chat-write {
    height: 60px;
    width: 96%;
    margin: 10px;
    display: grid;
    align-items: center;
}

.modal-chat-btn {
    position: absolute;
    margin-bottom: 100px;
}

.modal-chat-btn button {
    font-size: 13px;
    font-weight: bolder;
    padding: 5px 10px;
    border: none;
    border-radius: 13px;
}

#chat-write {
    height: 100%;
    flex-grow: 1;
    background-color: #3b3b3b;
    border-radius: 7px;
    color: white;
    padding-left: 10px;
}

#chat-submit {
    position: absolute;
    border-radius: 10px;
    width: 75px;
    height: 35px;
    margin: 10px;
    background-color: #d9d9d9;
    justify-self: flex-end;
}

.user-chat {
    align-self: flex-end;
    width: 60%;
    margin: 10px;
    display: flex;
    justify-content: end;
    text-align: end;
    word-break: break-all;
}

.user-chat :last-child {
    margin-left: 10px;
}

.modal-content {
    background-color: black;
    color: white;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
}

#clearBtn {
    height: 35px;
    width: 100px;
    background-color: #d9d9d9;
    border-radius: 15px;
}
#reCaptureBtn {
    height: 35px;
    width: 120px;
    background-color: #d9d9d9;
    border-radius: 15px;
}
#ocrBtn {
    height: 35px;
    width: 120px;
    background-color: #d9d9d9;
    border-radius: 15px;
}

.modal-header {
    padding-bottom: 10px;
    border-bottom: none;
}

.modal-footer {
    padding-top: 0px;
    border-top: none;
}

.footer {
    position: absolute;
    display: flex;
    width: 480px;
    justify-content: space-between;
}

.btn-group img {
    width: 25px;
    height: 25px;
    background-size: contain;
}

.btn-group {
    display: flex;
    flex-direction: column;
}

.btn-group a {
    margin: 10px;
    cursor: pointer;
}

.run {
    align-self: flex-end;
    margin: 10px 20px;
}

#btn_run {
    width: 120px;
    height: 40px;
    border-radius: 15px;
}

#btn_input,
#btn_input_slide {
    background-color: #a3a1a1;
    width: 80px;
    height: 25px;
    border: none;
    color: black;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%); */
}

.slide-container {
    position: absolute;
    height: 0px;
    width: 480px;
    transition: height 0.5s ease;
    margin-bottom: 25px;
}

/* 선택된 탭 버튼 스타일 */
.selected-tab {
    background-color: gray !important;
}

#input_text {
    height: 100%;
    width: 100%;
    resize: none;
    background-color: black;
    color: white;
}

#btn_input_slide,
#input_text {
    display: none;
}

.slide-container.open {
    height: 150px;
}

#btn_input_slide.open,
#input_text.open {
    display: block;
}

#toast {
    position: fixed;
    top: 300px;
    left: 230px;
    padding: 15px 20px;
    transform: translate(-50%, 10px);
    border-radius: 30px;
    overflow: hidden;
    font-size: 0.8rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
    background: rgba(136, 135, 135, 0.35);
    color: #fff;
    z-index: 10000;
}

#toast.reveal {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}

#console_content {
    height: 600px;
    background-color: #1d1d1d;
}

#console_output {
    position: absolute;
    width: 480px;
    color: white;
    padding: 10px;
    word-break: break-all;
    white-space: pre-wrap;
    overflow: auto;
    height: 600px;
}

#canvasContainer {
    width: 535px;
    overflow: auto;
    margin-right: 15px;
}

#OCR_outputContainer {
    padding-left: 15px;
    border-left: 1.5px dashed white;
}

#ocr_copy img {
    width: 25px;
    height: 25px;
    background-size: contain;
    cursor: pointer;
}

/*************************** 스크린샷 css****************************/
/* 캡쳐 시 배경 어둡게 */
#screenshot_background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    opacity: 0.3;
    text-align: center;
    box-sizing: border-box;
    z-index: 2147483647;
    border-color: black;
    border-style: solid;
}

/* 캡쳐 영역만 밝게 하기 위한 요소 */
#screenshot:before,
#screenshot:after {
    border: none !important;
    content: "" !important;
    height: 100% !important;
    position: absolute !important;
    width: 100% !important;
}

#screenshot:before {
    border-right: 0px solid white !important;
    border-bottom: 0px solid white !important;
    left: -100% !important;
    top: -100% !important;
}

#screenshot:after {
    border-top: 0px solid white !important;
    border-left: 0px solid white !important;
    left: 0 !important;
    top: 0 !important;
}

#screenshot {
    height: 100% !important;
    position: fixed !important;
    width: 100% !important;
    z-index: 2147483648 !important;
}

/* 캡쳐 시 마우스 커서 모양 변경 */
body.edit_cursor {
    cursor: crosshair;
}

/*************************** title tooptip ****************************/
